body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 94vh;
}
body h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 64px;
  position: absolute;
  top: 18rem;
  right: 58rem;
}
.timer {
  text-align: center;
}

.timer_days {
  font-size: 48px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 28rem;
  right: 80rem;
  margin: auto;
}
.timer_hours {
  font-size: 48px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 28rem;
  right: 70rem;
}
.timer_minutes {
  font-size: 48px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 28rem;
  right: 60rem;
}
.timer_seconds {
  font-size: 48px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 28rem;
  right: 50rem;
}
span {
  font-size: 16px;
  text-align: center;
  position: relative;
  bottom: 60px;
}
p {
  text-align: center;
}
