* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
h1 {
  text-align: center;
  color: antiquewhite;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 54px;
}
.center {
  background-color: antiquewhite;
  height: 400px;
  width: 350px;
}
body .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
