body {
  background-image: url("/Todo/Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1060px;
  min-height: 1060px;
  height: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 6rem;
}
.boxes,
.boxes2 {
  text-align: center;
}
.todo-list,
.todo-list2 {
  background-color: white;
  min-width: 250px;
  min-height: 330px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
}

.task-class {
  margin-top: 15px;
  margin-left: 20px;
  width: 230px;
  font-size: 18px;
  background-color: white;
  color: black;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 2px;
  font-weight: bold;
  height: 24px;
  text-align: center;
}
.checkbox-task {
  position: relative;
  width: 16px;
  left: -10px;
  top: -1px;
}
.plusicon,
.minusicon {
  height: 2rem;
  position: absolute;
  opacity: 20%;
  top: 290px;
}
.plusicon:active,
.plusicon:hover,
.minusicon:active,
.minusicon:hover {
  opacity: 65%;
}
#plus {
  position: relative;
  left: 90px;
  bottom: 35px;
}
#minus {
  position: relative;
  right: 115px;
  bottom: 35px;
}
.list-class {
  position: relative;
  top: 0px;
  border: none;
  height: 24px;
  width: 270px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-top-left-radius: 8px;
  border-top-right-radius: 9px;
  border-bottom: black 3px solid;
  background-color: rgba(206, 130, 30, 0.664);
}
.plus-minus {
  filter: invert(1);
  position: fixed;
  top: 12%;
  left: 51.5%;
  margin-top: -50px;
  margin-left: -100px;
}
.plus-list,
.minus-list {
  opacity: 45%;
}
.minus-list {
  position: relative;
  left: 85px;
  bottom: 68px;
}
.plus-list:active,
.plus-list:hover,
.minus-list:active,
.minus-list:hover {
  opacity: 80%;
}
.todo-list2,
#todo-list3,
#todo-list2 {
  display: none;
}
